<div class="fullcontent-update">
  <%- include("./partials/header") %>
<%- include("./partials/nav") %>
<h1 class="text-center text-light">Update page</h1>
<div class="">

        <form class="w-25" style="margin: 0 25% 0 38%;" action="/update/<%= index %>" method="post">
            <div class="mb-3 ">
              <label  class="form-label">Book name</label>
              <input name="name" type="text"  class="form-control"  value="<%= book.name %>">
            </div>
            <div class="mb-3">
                <label  class="form-label">Author name</label>
                <input name="author" type="text" class="form-control" value="<%= book.author %>">
              </div>
              <div class="mb-3">
                <label  class="form-label">Price</label>
                <input name="price" type="number" class="form-control" value="<%= book.price %>">
              </div>
              <div class="mb-3">
                <label  class="form-label">Quantity</label>
                <input name="quantity" type="number" class="form-control" value="<%= book.quantity %>">
              </div>
              <div class="mb-3">
                <label  class="form-label">Category</label>
                <input name="category" type="text" class="form-control" value="<%= book.category %>" >
              </div>
              <div class="mb-3">
                <label  class="form-label">Language</label>
                <input name="language" type="text" class="form-control" value="<%= book.language %>" >
              </div>
              <div class="mb-3">
                <label  class="form-label">Description</label>
                <textarea name="description" class="form-control" id="" cols="30" placeholder="enter text here" rows="7" ><%= book.description %></textarea>

              </div>
              
              
              <button type="submit" class="btn btn-primary">Update Book</button>
            </form>
           
            

      
</div>
<%- include("./partials/footer") %>
</div>